<h1>Incomes#new</h1>
<p>Find me in app/views/incomes/new.html.erb</p>

<%= form_with model: @income do |f| %>
<%= render "shared/form_errors", form: f %>

  <%= f.label :Date %>
  <%= f.date_field :income_date %>
  
  <%= f.label :monthly_income %>
  <%= f.text_field :monthly_income %>

  <%= f.submit "Save Income"%>
<% end %>

